@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
}
.Navbar{
    background-color:  #156379;
    height: 94px;

}


@keyframes scroll {  
  0% {  
    transform: translateX(0);  
  }  
  100% {  
    transform: translateX(-100%);  
  }  
}  

.infinite-scroll {  
  width: calc(100% * 5); /* Adjust based on number of items */  
  animation: scroll 250s linear infinite;  
}